.general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255, 0.3);
  z-index: 2;
}

.partners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--small-horizontal-spacing);
  margin: 0 auto;
}

.logo {
  width: 150px;
  height: auto;
}

.image {
  width: 100px;
}

.navigation {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  margin-left: calc(150px - 25px);
}

.nav_icon {
  color: var(--accent-color);
  width: 18px;
}

@media (max-width: 600px) {
  .partners {
    display: none;
  }

  .logo {
    width: 100px;
  }

  .image {
    width: 75px;
  }
}
