.general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255, 0.3);
  z-index: 2;
}

.partners {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  gap: var(--small-horizontal-spacing);
  max-width: 70%;
  margin: 0 auto;
}

.image{
  width: 100;
}

.logo{
height: auto;
width: 90;
}
.nav_container {
  display: flex;
  gap: var(--small-horizontal-spacing);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  color: var(--accent-color);
}

.nav_icon {
  width: 18px;
}

@media (max-width: 600px) {
  .partners {
    display: none;
  }

  .logo {
    width: 100px;
  }

  .image {
    width: 75px;
  }
}
