.general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255, 0.3);
}

.partners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}

.nav_icon {
  color: var(--accent-color);
  width: 18px;
}
