.banner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  background-color: var(--accent-color);
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  padding: 20px;
  margin-bottom: 6rem;
  direction: rtl;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
}
