.banner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--small-horizontal-spacing);
  background-color: var(--accent-color);
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  padding: var(--small-horizontal-spacing);
  margin-bottom: var(--large-vertical-spacing);
  direction: rtl;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
}
