.container {
  position: relative;
  width: min(95vw, 1300);
}

.nav_target {
  position: absolute;
  top: calc(-1 * var(--h2-font-size));
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--small-horizontal-spacing);
  row-gap: var(--large-vertical-spacing);
  margin-top: var(--medium-vertical-spacing);
  margin-bottom: var(--large-vertical-spacing);
}
