.container {
  text-align: center;
  width: min(92%, 1300);
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 3rem;
  direction: rtl;
  margin-bottom: 6rem;
}
