.card {
  background-color: var(--secondary-color);
  padding: 40px 30px;
  border: 5px solid white;
  border-radius: var(--border-radius);
  color: white;
}

.card.accent {
  background-color: var(--accent-color);
  color: black;
}
