.card {
  background-color: var(--secondary-color);
  padding: var(--small-vertical-spacing) var(--small-horizontal-spacing);
  border: 5px solid white;
  border-radius: var(--border-radius);
  color: white;
}

.card.accent {
  background-color: var(--accent-color);
  color: black;
}

@media (max-width: 600px) {
  .card {
    max-width: 95vw;
  }
}
