.text {
  font-size: var(--small-font-size);
}

.text_top {
  margin-bottom: var(--medium-vertical-spacing);
}

.text_bottom {
  margin-top: var(--medium-vertical-spacing);
}

.video {
  width: 100%;
}

@media (max-width: 600px) {
  .video {
    height: auto;
  }
}
