.button {
  padding: 10px 80px;
  border: 5px solid white;
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
  color: var(--secondary-color);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.button:hover {
  scale: 1.1;
}
