.container {
  position: relative;
  width: min(92%, 1300);
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: var(--large-vertical-spacing);
}

.nav_target {
  position: absolute;
  top: calc(-1 * var(--h2-font-size));
}

.title {
  margin-bottom: var(--medium-vertical-spacing);
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: min(47.5%, 650px);
}

@media (max-width: 600px) {
  .card {
    width: 95vw;
  }
}
