.container {
  width: min(92%, 1300);
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: var(--large-vertical-spacing);
}

.title {
  margin-bottom: var(--medium-vertical-spacing);
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  direction: rtl;
}

.card {
  direction: rtl;
  width: 650px;
}
