.container {
  width: min(92%, 1300);
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 3rem;
}

.title {
  margin-bottom: 3rem;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  direction: rtl;
}

.card {
  max-width: 650px;
  text-align: center;
  direction: rtl;
}
