.card {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-size: var(--large-font-size);
  margin-bottom: var(--medium-vertical-spacing);
}

.image {
  max-width: 90%;
  height: auto;
}
