.container {
  background-color: rgb(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--large-horizontal-spacing);
  row-gap: var(--small-horizontal-spacing);
  padding: var(--medium-vertical-spacing) var(--small-horizontal-spacing);
}

.info_container {
  text-align: start;
}

.information {
  font-size: var(--large-font-size);
}

.form {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}

.field_group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--small-vertical-spacing);
  align-items: flex-start;
}

.field {
  direction: ltr;
}

.error {
  color: red;
  font-size: var(--small-font-size);
  height: var(--small-font-size);
}

.submit_button {
  background-color: var(--accent-color);
  border: 2px solid white;
  border-radius: var(--border-radius);
  color: var(--secondary-color);
  padding: var(--small-vertical-spacing) var(--small-horizontal-spacing);
  font-size: var(--large-font-size);
  margin: -2px var(--small-horizontal-spacing);
  cursor: pointer;
}

.loader {
  width: var(--large-font-size);
  height: var(--large-font-size);
  border: 3px solid #ccc;
  border-top: 3px solid var(--secondary-color);
  border-radius: 50%;
  animation: loader 800ms ease-out infinite;
}

.success_message {
  margin-left: auto;
  color: var(--secondary-color);
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@media (max-width: 850px) {
  .container {
    flex-direction: column;
  }

  .form {
    width: 100%;
  }
}
