.container {
  width: min(90%, 1300px);
  margin-bottom: var(--large-vertical-spacing);
}

.title {
  margin-bottom: var(--medium-vertical-spacing);
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--medium-vertical-spacing);
}

.video_text {
  font-size: 2rem;
  font-weight: 400;
}

.video {
  flex-grow: 1;
}

@media (max-width: 600px) {
  .videos {
    gap: 20px;
  }
}
