.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 100px;
  margin-bottom: var(--medium-vertical-spacing);
  width: calc(4 * var(--h1-font-size));
  height: auto;
}

.button {
  margin-top: var(--medium-vertical-spacing);
}

.teachers_subscription_link {
  margin-top: var(--small-vertical-spacing);
  font-size: var(--large-font-size);
  text-decoration: underline;
}

.banner {
  margin-top: var(--medium-vertical-spacing);
}

@media (max-width: 600px) {
  .title {
    margin-top: 80px;
    width: calc(2.5 * var(--h1-font-size));
  }
}
