.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 100px;
  margin-bottom: 50px;
}

.button {
  margin-top: 50px;
}

.banner {
  margin-top: 50px;
}