.title {
  max-width: 90vw;
}

.navigation {
  display: none;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    var(--primary-color) 10%,
    var(--secondary-color)
  );
  padding: 3rem var(--medium-horizontal-spacing) 6rem;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--accent-color);
  height: 100%;
}

.close_icon {
  color: var(--accent-color);
  position: absolute;
  top: 60px;
  right: 60px;
  width: 50px;
  height: 50px;
  border: 3px solid var(--accent-color);
  border-radius: 50%;
}

@media (max-width: 600px) {
  .close_icon {
    width: 30px;
    height: 30px;
    top: 30px;
    right: 30px;
  }
}
