.footer {
  width: 100%;
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
  align-items: center;
  gap: var(--medium-horizontal-spacing);
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255, 0.3);
  padding: var(--small-vertical-spacing) var(--medium-horizontal-spacing);
  text-align: start;
}

.credits {
  display: grid;
}
