.footer {
  width: 100%;
  display: flex;
  flex-direction: start;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255, 0.3);
  padding: 1.5rem 3rem;
}

.credits {
  display: grid;
}
