.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 3rem;
}

.form {
  width: min(92%, 1300px);
  margin-bottom: 6rem;
  padding: 10px;
}

.iframe {
  width: 100%;
  height: 85vh;
}
