.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_target {
  position: absolute;
  top: calc(-1 * var(--h2-font-size));
}

.title {
  margin-bottom: var(--medium-vertical-spacing);
}

.form {
  width: min(95vw, 1300px);
  margin-bottom: var(--large-vertical-spacing);
  padding: 10px;
}

.iframe {
  width: 100%;
  height: 85vh;
}
