.container {
  background-color: var(--secondary-color);
  border: 5px solid white;
  border-radius: var(--border-radius);
  min-width: 860px;
  min-height: 270px;
  padding: 40px 20px;
  color: white;
  text-align: center;
}

.title {
  direction: rtl;
  margin-bottom: 20px;
}

.times {
  display: flex;
  justify-content: center;
}

.time {
  width: 300px;
  border-right: 5px solid white;
  padding: 0 90px;
}

.time.last {
  border: none;
}

.timeText {
  border: none;
}
