.container {
  position: relative;
  background-color: var(--secondary-color);
  border: 5px solid white;
  border-radius: var(--border-radius);
  min-width: calc(4 * var(--h1-font-size));
  padding: calc(0.85 * var(--medium-vertical-spacing))
    var(--small-horizontal-spacing);
  color: white;
}

.end_of_time {
  background-color: black;
  opacity: 0.75;
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border-radius: var(--border-radius);
}

.title {
  margin-bottom: var(--small-horizontal-spacing);
}

.times {
  display: flex;
  justify-content: center;
}

.time {
  border-right: 5px solid white;
}

.time.last {
  border: none;
}

.time_spacing {
  width: calc(2 * var(--h1-font-size));
}

@media (max-width: 600px) {
  .container {
    min-width: calc(3 * var(--h1-font-size));
  }

  .time_spacing {
    width: var(--h1-font-size);
  }
  .time_unit:last-child {
    display: none;
  }

  .time_unit:nth-child(3) .time {
    border: none;
  }
}
