:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary-color: #94d2eb;
  --secondary-color: #4091cc;
  --accent-color: #fad940;

  --font-primary-color: #000000;
  --font-secondary-color: #ffffff;

  --large-font-size: 2rem;
  --small-font-size: 1.2rem;

  --border-radius: 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--font-primary-color);
  background: repeating-linear-gradient(
    -135deg,
    var(--secondary-color) 0 400px,
    white 400px 405px,
    var(--primary-color) 405px 1155px,
    white 1155px 1160px
  );
  min-height: 100svh;
  letter-spacing: 0.1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 11.25rem;
  font-weight: 400;
}

h2 {
  font-size: 6.25rem;
  font-weight: 400;
}

h3 {
  font-size: 3.125rem;
  font-weight: 400;
}
