:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary-color: #94d2eb;
  --secondary-color: #4091cc;
  --accent-color: #fad940;

  --font-primary-color: #000000;
  --font-secondary-color: #ffffff;

  --h1-font-size: 11.25rem;
  --h2-font-size: 6.25rem;
  --h3-font-size: 3.125rem;

  --large-font-size: 2rem;
  --small-font-size: 1.2rem;

  --border-radius: 15px;

  --large-vertical-spacing: 6rem;
  --medium-vertical-spacing: 3rem;
  --small-vertical-spacing: 1rem;

  --large-horizontal-spacing: 6rem;
  --medium-horizontal-spacing: 3rem;
  --small-horizontal-spacing: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--font-primary-color);
  text-align: center;
  background: url("../public/decorations.png") right top repeat,
    repeating-linear-gradient(
      -135deg,
      var(--secondary-color) 0 400px,
      white 400px 405px,
      var(--primary-color) 405px 1155px,
      white 1155px 1160px
    );
  min-height: 100svh;
  letter-spacing: 0.07rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 400;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 400;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: 400;
}

p {
  font-weight: 300;
}

#navigation:target {
  display: flex;
}

#navigation:target ~ main {
  display: none;
}

@media (max-width: 1500px) {
  :root {
    --h1-font-size: 6rem;
    --h2-font-size: 4.5rem;
    --h3-font-size: 3rem;

    --large-font-size: 1.5rem;
    --small-font-size: 1.2rem;

    --large-vertical-spacing: 4.5rem;
    --medium-vertical-spacing: 1.2rem;
    --small-vertical-spacing: 0.8rem;
  }
}

@media (max-width: 600px) {
  :root {
    --h1-font-size: 7rem;
    --h2-font-size: 3rem;
    --h3-font-size: 2rem;

    --large-font-size: 1.5rem;
    --small-font-size: 1.2rem;

    --large-vertical-spacing: 2.1rem;
    --medium-vertical-spacing: 1.5rem;
    --small-vertical-spacing: 1rem;

    --large-horizontal-spacing: 6rem;
    --medium-horizontal-spacing: 3rem;
    --small-horizontal-spacing: 1rem;
  }

  body {
    background: url("../public/decorations_mobile.png") 0px 15px repeat,
      repeating-linear-gradient(
        -135deg,
        var(--secondary-color) 0 400px,
        white 400px 405px,
        var(--primary-color) 405px 1155px,
        white 1155px 1160px
      );
  }
}
