.container {
  width: min(90%, 1300);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: var(--medium-vertical-spacing);
}

.single_card {
  margin-bottom: var(--medium-vertical-spacing);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: var(--medium-vertical-spacing);
  margin-bottom: var(--large-vertical-spacing);
}

.card {
  padding: var(--medium-vertical-spacing) var(--small-vertical-spacing);
}

.small_image {
  width: 320px;
}

.medium_image {
  width: 400px;
}

@media (max-width: 600px) {
  .single_card {
    margin-bottom: var(--medium-vertical-spacing);
  }

  .medium_image {
    width: 320px;
  }
}
