.container {
  width: min(92%, 1300);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 60px;
  direction: rtl;
  margin-bottom: 6rem;
}

.large_card {
  width: 60%;
}
